<div class="jumbotron text-center">
    <h1 class="display-4">Bienvenid@s a mi primer proyecto Angular!</h1>
    <p class="lead">Consiste en un App de Tareas</p>
    <hr class="my-4">
    <p>Si quieres probarla conectate.</p>
    <p class="lead">
        <a routerLink="login" routerLinkActive="active-link" class="btn btn-secondary btn-lg" href="#" role="button">Conectarme</a>
    </p>
    <p>Si aún no tienes cuenta.</p>
    <p class="lead">
        <a routerLink="register" routerLinkActive="active-link" class="btn btn-secondary btn-lg" href="#" role="button">Registrate</a>
    </p>
</div>