* {
    margin: 1px;
}

input {
    border-radius: 4px;
    padding: 3px;
    background: rgba(180, 180, 180);
    width: 193px;
}

.btn-danger {
    margin: 1px;
    padding: 3px;
}

.prueba2 {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.example-list {
    margin: 10px;
    border-radius: 10px;
    color: #40506C;
    ;
}

.prueba2 {
    background-color: rgb(204, 204, 204);
    border-radius: 10px;
    padding: 1.5px;
}

span {
    margin: 10px;
}